@using Framework.Domain.Entities;
@model User
@{
    ViewData["Title"] = Model.FullName;

}

<div class="tm-blog-img-container">
</div>

<section class="tm-section">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="tm-blog-post">
                    <h3 class="tm-gold-text">Profil Detay</h3>
                    <hr />
                    <p>Ad : @Model.FirstName</p>
                    <p>Soyad : @Model.LastName</p>
                    <p>E-posta : @Model.Email</p>
                    <p>Yazar Nick : @Model.UserName</p>

                    <a href="javascript:window.history.back(-1);">Geri Dön</a>
                </div>

               

            </div>

            
        </div>
    </div>
</section>